*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: url(./video/city.gif) no-repeat center center fixed ;
    background-size: cover;
    
    
}
.mr-ml-77{
    margin-right: 77px;
    margin-left: 77px;

}
.mt-16{
    margin-top: 16px;
}
.m-8{
    margin: 8px;
}
p{
    font-size: 21px;
}
h1, h3, p {
    margin: 16px;
}
/* main */
.main{
    

}
.header{
    text-align: center;
    
}
.img-headning{
    margin-top: 2em;
    border-radius: 50%
}
.header > img {
    width: 200px;
    height: 200px;
}
.noi-hoc {
    margin-top: 5px;
    display: inline-block;
    padding: 16px 16px;
}
.img-truonghoc{

}
.contact{
    display: inline;
}
.icon-page{
  
    font-size: 20px;
    text-decoration: none;
    color:  #fff    ;
}
.text-heading{
    color: #78D6F9;

}
.noi-hoc > p {
    
    color: #78D6F9;
}
.noi-hoc > img {
    border-radius: 85%;
    border: 2px solid #fff;
    width: 350px;
}
.icon-circle {
    width: 150px;
    background-size: 23px;
    background-color: #456BD9;
    border: 12px solid #456BD9;
    border-radius: 100%;
    display: inline-block;
    margin-top: 15px;
    
    
}